header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.logo {
    width: 250px;
    height: 100px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
}